<?php
return [
    /* Authentication */
    'auth' => [
        'enabled' => true,
        'username' => '{{ php_pt_user }}',
        'password' => '{{ php_pt_password }}',
    ],
    /* Paths to cache (recursively) */
    'paths' => [
        __DIR__ .DS. '..' .DS. '..' .DS. '..' .DS. '..' .DS. 'config',
        __DIR__ .DS. '..' .DS. '..' .DS. '..' .DS. '..' .DS. 'module',
        __DIR__ .DS. '..' .DS. '..' .DS. '..' .DS. '..' .DS. 'vendor',
        __DIR__ .DS. '..' .DS. '..' .DS. '..' .DS. '..' .DS. 'public',
    ],
    /* Whther to run php -l on each file. */
    /*
        Disabling this will give you a performance boost,
        but will fatal error on parse errors.
    */
    'linter' => true,
];